block content
    include ../components/status.pug
    include ../components/tooltip.pug
    include ../icons/icon-exit.pug
    include ../icons/icon-burger.pug
    include ../icons/icon-cross.pug
    include ../icons/icon-qr.pug
    include ../icons/icon-logo.pug
    include ../icons/icon-logo-text.pug

    header.header.js-header
        button.header-burger.ok.js-header-burger(type='button')
            +icon-burger('header-burger__icon burger')
            +icon-cross('header-burger__icon cross')
        .title-wrapper
            h1.title Картотека
            .title-logo
                +icon-logo('title-logo__icon')
                +icon-logo-text('title-logo__text-icon')
            .actions.js-header-actions
                +status-ok('Лицензия до 31.12.2025')
                +status-warning('Лицензия до 31.12.2025')
                +status-error('Срок лицензии истек 31.12.2025')
                +status-text('Получено 997 согласий', 'header-status-main')
            .actions-mobile.js-header-actions-mobile.hidden
                +status-text('Получено 997 согласий')
        nav.nav.js-nav
            if page !== 'index-not-auth'
                .action-nav-mobile
                    +status-ok('Лицензия до 31.12.2025')
                    +status-warning('Лицензия до 31.12.2025')
                    +status-error('Срок лицензии истек 31.12.2025')
            .index-qr_content.index-qr_content_header
                button.index-qr_content__link.js-qr-button-open(type='button')
                    +icon-qr('index-qr_content__icon')
                    span.index-qr_content__text QR-код для клиентов
            if page !== 'index-not-auth'
                ul.nav_list
                    li.nav-element
                        a.nav-link(href='/' class=page === 'index' ? 'nav-link_active' : '') Лента событий
                    li.nav-element
                        a.nav-link(href='/settings.html' class=page === 'settings' ? 'nav-link_active' : '') Настройки соглашения
                    li.nav-element
                        a.nav-link(href='/notifications.html' class=page === 'notifications' ? 'nav-link_active' : '') Уведомления
                    li.nav-element
                        a.nav-link(href='/access.html' class=page === 'access' ? 'nav-link_active' : '') Доступы
                    li.nav-element
                        a.nav-link(href='/license.html' class=page === 'license' ? 'nav-link_active' : '') Лицензии
                    li.nav-element
                        a.nav-link(href='/referral.html' class=page === 'referral' ? 'nav-link_active' : '') Реферальная программа
                    li.nav-element
                        a.nav-link(href='/history.html' class=page === 'history' ? 'nav-link_active' : '') История изменений
                    li.nav-element
                        a.nav-link(href='/howitwork.html' class=page === 'howitwork' ? 'nav-link_active' : '') Как это работает?
        .user.js-nav-user
            .user__content.js-user-content
                .user__name Ромашка на лугу весенним майским утром
                .user__email konstantinopolsky_konstantin@email.ru
            button.user__button-exit.tooltip-trigger.js-tooltip-trigger
                +icon-exit('user__icon-exit')
                +tooltip('Выйти')