block content
    include ../components/status.pug
    include ../components/tooltip.pug
    include ../icons/icon-exit.pug

    header.header
        .title-wrapper
            h1.title Картотека
            .actions
                +status-ok('Лицензия до 31.12.2025')
                +status-warning('Лицензия до 31.12.2025')
                +status-error('Срок лицензии истек 31.12.2025')
                +status-text('Получено 997 согласий')
        if page !== 'index-not-auth'
            nav.nav
                ul.nav_list
                    li.nav-element
                        a.nav-link(href='/' class=page === 'index' ? 'nav-link_active' : '') Лента событий
                    li.nav-element
                        a.nav-link(href='/settings.html' class=page === 'settings' ? 'nav-link_active' : '') Настройки соглашения
                    li.nav-element
                        a.nav-link(href='/notifications.html' class=page === 'notifications' ? 'nav-link_active' : '') Уведомления
                    li.nav-element
                        a.nav-link(href='/access.html' class=page === 'access' ? 'nav-link_active' : '') Доступы
                    li.nav-element
                        a.nav-link(href='/license.html' class=page === 'license' ? 'nav-link_active' : '') Лицензии
                    li.nav-element
                        a.nav-link(href='/referral.html' class=page === 'referral' ? 'nav-link_active' : '') Реферальная программа
                    li.nav-element
                        a.nav-link(href='/history.html' class=page === 'history' ? 'nav-link_active' : '') История изменений
                    li.nav-element
                        a.nav-link(href='/howitwork.html' class=page === 'howitwork' ? 'nav-link_active' : '') Как это работает?
        .user
            .user__content
                .user__name Ромашка на лугу весенним майским утром
                .user__email konstantinopolsky_konstantin@email.ru
            button.user__button-exit.tooltip-trigger.js-tooltip-trigger
                +icon-exit('user__icon-exit')
                +tooltip('Выйти')